In [5]:
import datetime
print(datetime.datetime.now())

2022-05-13 06:57:45.214439

In [6]:
import pandas as pd
import numpy as np

print('pandas: {}'.format(pd.__version__))
print('numpy: {}'.format(np.__version__))

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

pandas: 1.3.5
numpy: 1.21.6

In [7]:
import os
os.getcwd()

'/content'

In [8]:
df = pd.read_csv("HTTP_20130313143750.dat", sep='\t', header=None, names=["时间戳","电话号码", "基站的物理地址", "访问网址的ip", "网站域名", "网站类型", "数据包", "接包数", "上行/传流量", "下行/载流量", "响应码"])

In [9]:
df.head(25)

,时间戳,电话号码,基站的物理地址,访问网址的ip,网站域名,网站类型,数据包,接包数,上行/传流量,下行/载流量,响应码
0,1363157985066,13726230503,00-FD-07-A4-72-B8:CMCC,120.196.100.82,i02.c.aliimg.com,NaN,24,27,2481,24681,200
1,1363157995052,13826544101,5C-0E-8B-C7-F1-E0:CMCC,120.197.40.4,NaN,NaN,4,0,264,0,200
2,1363157991076,13926435656,20-10-7A-28-CC-0A:CMCC,120.196.100.99,NaN,NaN,2,4,132,1512,200
3,1363154400022,13926251106,5C-0E-8B-8B-B1-50:CMCC,120.197.40.4,NaN,NaN,4,0,240,0,200
4,1363157993044,18211575961,94-71-AC-CD-E6-18:CMCC-EASY,120.196.100.99,iface.qiyi.com,视频网站,15,12,1527,2106,200
5,1363157995074,84138413,5C-0E-8B-8C-E8-20:7DaysInn,120.197.40.4,122.72.52.12,NaN,20,16,4116,1432,200
6,1363157993055,13560439658,C4-17-FE-BA-DE-D9:CMCC,120.196.100.99,NaN,NaN,18,15,1116,954,200
7,1363157995033,15920133257,5C-0E-8B-C7-BA-20:CMCC,120.197.40.4,sug.so.360.cn,信息安全,20,20,3156,2936,200
8,1363157983019,13719199419,68-A1-B7-03-07-B1:CMCC-EASY,120.196.100.82,NaN,NaN,4,0,240,0,200
9,1363157984041,13660577991,5C-0E-8B-92-5C-20:CMCC-EASY,120.197.40.4,s19.cnzz.com,站点统计,24,9,6960,690,200
10,1363157973098,15013685858,5C-0E-8B-C7-F7-90:CMCC,120.197.40.4,rank.ie.sogou.com,搜索引擎,28,27,3659,3538,200
11,1363157986029,15989002119,E8-99-C4-4E-93-E0:CMCC-EASY,120.196.100.99,www.umeng.com,站点统计,3,3,1938,180,200
12,1363157992093,13560439658,C4-17-FE-BA-DE-D9:CMCC,120.196.100.99,NaN,NaN,15,9,918,4938,200
13,1363157986041,13480253104,5C-0E-8B-C7-FC-80:CMCC-EASY,120.197.40.4,NaN,NaN,3,3,180,180,200
14,1363157984040,13602846565,5C-0E-8B-8B-B6-00:CMCC,120.197.40.4,2052.flash2-http.qq.com,综合门户,15,12,1938,2910,200
15,1363157995093,13922314466,00-FD-07-A2-EC-BA:CMCC,120.196.100.82,img.qfc.cn,NaN,12,12,3008,3720,200
16,1363157982040,13502468823,5C-0A-5B-6A-0B-D4:CMCC-EASY,120.196.100.99,y0.ifengimg.com,综合门户,57,102,7335,110349,200
17,1363157986072,18320173382,84-25-DB-4F-10-1A:CMCC-EASY,120.196.100.99,input.shouji.sogou.com,搜索引擎,21,18,9531,2412,200
18,1363157990043,13925057413,00-1F-64-E1-E6-9A:CMCC,120.196.100.55,t3.baidu.com,搜索引擎,69,63,11058,48243,200
19,1363157988072,13760778710,00-FD-07-A4-7B-08:CMCC,120.196.100.82,NaN,NaN,2,2,120,120,200
20,1363157985066,13726238888,00-FD-07-A4-72-B8:CMCC,120.196.100.82,i02.c.aliimg.com,NaN,24,27,2481,24681,200
21,1363157993055,13560436666,C4-17-FE-BA-DE-D9:CMCC,120.196.100.99,NaN,NaN,18,15,1116,954,200

In [10]:
aggdf = df.groupby("电话号码", as_index=False)[["上行/传流量", "下行/载流量"]].sum()

In [11]:
aggdf["总流量"] = aggdf[["上行/传流量", "下行/载流量"]].sum(axis=1)

In [12]:
aggdf.head()

          电话号码  上行/传流量  下行/载流量     总流量
0     84138413    4116    1432    5548
1  13480253104     180     180     360
2  13502468823    7335  110349  117684
3  13560436666    1116     954    2070
4  13560439658    2034    5892    7926

In [13]:
aggdf = aggdf.sort_values("电话号码")

In [33]:
def sortkey(col):
  if (col // 1000000000) == 0:
    return col * 1000
  else:
    return col

In [34]:
84138413 // 1000000000

0

In [37]:
aggdf["sort"] = aggdf["电话号码"].apply(sortkey)

In [40]:
aggdf = aggdf.sort_values("sort").drop("sort",  axis=1)

In [42]:
aggdf

           电话号码  上行/传流量  下行/载流量     总流量
1   13480253104     180     180     360
2   13502468823    7335  110349  117684
3   13560436666    1116     954    2070
4   13560439658    2034    5892    7926
5   13602846565    1938    2910    4848
6   13660577991    6960     690    7650
7   13719199419     240       0     240
8   13726230503    2481   24681   27162
9   13726238888    2481   24681   27162
10  13760778710     120     120     240
11  13826544101     264       0     264
12  13922314466    3008    3720    6728
13  13925057413   11058   48243   59301
14  13926251106     240       0     240
15  13926435656     132    1512    1644
16  15013685858    3659    3538    7197
17  15920133257    3156    2936    6092
18  15989002119    1938     180    2118
19  18211575961    1527    2106    3633
20  18320173382    9531    2412   11943
0      84138413    4116    1432    5548

In [41]:
aggdf.to_csv("test.csv",  sep='\t', header=True, index=False)